#sidebar {
  width: 250px;
  height: 100vh;

  background-color: #b3e5fc;
  padding: 1xrem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
    font-family: 'Segoe UI', sans-serif;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  a[mat-list-item] {
    color: #333;
    font-weight: 500;
    border-radius: 4px;
    padding: 0.5rem 1rem;

    &.active-link {
      background-color: #d1e4f9;
      color: #0d47a1;
      font-weight: 600;

    }

    &:hover {
      background-color: #e3f2fd;
    }
  }
}

mat-accordion {
  mat-expansion-panel {
    background-color: transparent;
    box-shadow: none;

    .mat-expansion-panel-header {
      padding: 0 1rem;
      font-weight: 600;

      .expansion-panel-bold {
        font-weight: bold;
        color: #0d47a1;
      }
    }

    a[mat-list-item] {
      padding-left: 2.5rem;
      font-size: 0.95
      rem;

      &.active-link {
        background-color: #d1e4f9;
        color: #0d47a1;
        font-weight: 600;
      }

      &:hover {
        background-color: #e3f2fd;
      }
    }
  }
}
