/**
 * Varibale diclaration.
 **/

// color
$header-color: #FFFFFF;
$body-color: #FAFAFA;
$primary-color: #0F265C;
$primary-label-color: #0F265C;
$primary-color-yellow: #FEDA32;
$primary-color-error: #e8446c;
//button color
$button-top-color: #FECB2E;
$button-bottom-color: #FEEC35;
$button-sec-bg-color: #FFFFFF;
$button-sec-border-color :#FEE598;
// icon color
$primary-icon-color :#FEDA32;
//font 
$primary-font: 'Prelo-Medium';
$primary-font-tittile: 'PreloSlab-Book';
$primary-error-mesage-font: 'Prelo-Book';
// icon font Size
$icon-size-small: 12px; // carets & chrome control
$icon-size-medium-small: 15px;
$icon-size-medium: 18px; // navbar buttons
$icon-size-large: 25px; // changed from 24px
$icon-size-xlarge: 30px;
// lable font Size
$label-size-normal: 1em; //16px