$plomo: #4a4a50;
$plomo1: #4a4a50;
$plomo4: #d4d4d6;
$plomo5: #999999;
$plomo6: #ccc;

$gris2: #d8d8d8;

$azul: #0f265c;
$azul1: #c8cfe1;
$azul2: #f3f4f7;
$azul3: #0f265c;
$azul4: #10133f;
$azul5: #2F7ABF;

$accent: #10265c;
$primary: #ffdc00;
$secunday: #ffd200;
$terciary: #ffcc00;
$white: #ffffff;
$warn: #d40606;
$warn1: #911112;
$warn2: #fae6e7;
$warnBtn: #cf0a04;
$sucess: #30a44f;
$succes1: #4f6d51;
$succes2: #e9efeb;
$advert: #f76800;
$advert1: #f0b86e;
$advert2: #77591b;
$advert3: #fff4e4;
$info: #275179;
$info1: #eaf1f9;
$dark: #000000;

$tabla1: #d50707;
$tabla2: #0f265c;
$tabla3: #ff9b00;
$table-detallemac-header: lightgrey;
$table-detallemac-border: #F8F9F9;
$sidemenu-background:#fafbfc;
$toolbar-background: #fff;


$app-primary-pallete: (
  50: #fffbe0,
  100: #fff5b3,
  200: #ffee80,
  300: #ffe74d,
  400: #ffe126,
  500: #ffdc00,
  600: #ffd800,
  700: #ffd300,
  800: #ffce00,
  900: #ffc500,
  A100: #ffffff,
  A200: #fffcf2,
  A400: #ffefbf,
  A700: #ffe8a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$app-accent-pallete: (
  50: #e2e5eb,
  100: #b7bece,
  200: #8893ae,
  300: #58678d,
  400: #344774,
  500: #10265c,
  600: #0e2254,
  700: #0c1c4a,
  800: #091741,
  900: #050d30,
  A100: #6a7bff,
  A200: #374fff,
  A400: #0422ff,
  A700: #001ce9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);