:host {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 0 6px rgba(0, 0, 0, 0.24);
}
.nav-brand {
  text-align: center;
}
.topnav-icon {
  text-decoration: none;
  display: flex;
  color: #fff;
}

.nav-spacer {
  flex: 1 1 auto;
}

.visible-md {
  display: none;
}
.visible-sm {
  display: none;
}
@media screen and (max-width: 992px) {
  .visible-md {
      display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
      display: block;
  }
  .nav-brand {
      width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
      display: none;
  }
}
.mat-toolbar.mat-primary{
  background-color: white;
  color: #10265c;
}


.topnav-text{
  font-family: Prelo Slab SemiBold;
  color: #10265c;
  font-size: 14px;
  font-weight: 500;
  line-height: 1em
}

