// COLOR ****************************************************/
$yellow: #ffdc00;
$blue: #0f265c;
$lighterBlue: #204499;
$black: #0000;
$red: #FF0000;
$lighterBlack: #2E2D2D;
$grey: #707070;
$borderColor: #4a4a4a;
$greyText: #4a4a50;
$lighterGrey: #EAEAEA;
$secondaryBackground: #e9ecf3;
$generalBackground: #ffff;
$active: #2f7abf;
// FONT ****************************************************/
$preloSemiBold :'Prelo-Semi-bold';
$preloMedium: 'Prelo-Medium';
$preloBold: 'Prelo-bold';
$preloBook: 'Prelo-book';
$preloSlabBook: 'Preloslab-book';
// SIZES ****************************************************/
$buttonsWith: 168px;
$extraSmall: 12px;
$small: 14px;
$medium: 16px;
$big: 18px;
$titles: 28px;
$subtitles: 24px;
